<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="AgilePartner.NLog.ElasticSearch"/>
  </extensions>
  
  <targets>
      <target name="elastic"
              xsi:type="ElasticSearch"
              layout="${logger} | ${threadid} | ${message} | ${uppercase:${level}} | ${newline} ${exception:format=ToString,StackTrace}"
              uri="http://192.168.123.99:9200" 
              index="myapplicationlogs"
              documentType="LogEntry"></target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="elastic"/>
  </rules>
</nlog>